services:
  db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_DB: ${PG_DB}
    volumes:
      - dbproject:/var/lib/postgresql
    networks:
      - app-network

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: fastapi_backend
    environment:
      POSTGRES_HOST: ${PG_HOST}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_DB_NAME: ${PG_DB}
      JWT_ALGO: ${JWT_ALGO}
      SECRET_KEY: ${SECRET_KEY}

    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: react_frontend
    ports:
      - "80:80"

    depends_on:
      - backend
    networks:
      - app-network
    
networks:
  app-network:
    driver: bridge

volumes:
  dbproject:
    driver: local