services:
  db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_DB: ${PG_DB}
    volumes:
      - dbproject:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: fastapi_backend
    environment:
      POSTGRES_HOST: ${PG_HOST}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_DB_NAME: ${PG_DB}
      JWT_ALGO: ${JWT_ALGO}
      SECRET_KEY: ${SECRET_KEY}

    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: react_frontend
    ports:
      - "3000:80"

    depends_on:
      - backend
    networks:
      - app-network
    
networks:
  app-network:
    driver: bridge

volumes:
  dbproject:
    driver: local