@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

.spinner {
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 4px;
    border-top-color: black;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 100%;
    
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}