@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.spinner {
    width: 4px;
    height: 4px;
    border-style: solid;
    border-width: 4px;
    border-top-color: black;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}