html, body, #root { 
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

:root {
    --foreground-color: #333333;
    --background-color: #cecccc;

    --muted-blue: #94B9AF;
    --muted-green: #90A583;
    --muted-yellow: #9D8420;
    --muted-red: #942911;
    --muted-red-200: #A95441;
    --muted-red-400: #BA7667;
}

body {
    overflow-y: hidden;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

button {
    transition: background-color 0.1s ease-in-out;
    background-color: var(--muted-blue);
    border-radius: 20%;
}

button:hover {
    background-color: var(--muted-green);
    cursor: pointer;
}

.roundedContainer {
    border-radius: 8px;
    border: 2px solid var(--foreground-color); 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height {
    height: 100%;
}

.globalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin {
    margin: 5px;
}

.centerText {
    text-align: center;
}

.scroll {
    overflow-y: scroll;
}