body {
    overflow-y: hidden;
    background-color: burlywood;
}

.roundedContainer {
    border-radius: 8px;
    border: 2px solid black; 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.globalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}