:root {
    --primary-color: rgb(60, 60, 60);
    --background-color: rgb(214, 191, 161);
}

body {
    overflow-y: hidden;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.roundedContainer {
    border-radius: 8px;
    border: 2px solid var(--primary-color); 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.globalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.spaceBetween {
    justify-content: space-between;
    align-items: center;
}