body {
    overflow-y: hidden;
    background-color: rgb(255, 219, 156);
}

.roundedContainer {
    border-radius: 8px;
    border: 2px solid black; 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.globalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.spaceBetween {
    justify-content: space-between;
    align-items: center;
}